{{#basicInput}}
	<div class="basic-input search">
		<input type="text" class="pe-textInput--basic" id="{{id}}" aria-label="search" placeholder="{{placeholder}}" >
		{{> ui-kit-single-icon }}
	</div>
{{/basicInput}}
