.fancy-select {
  position:relative;
	select {
	  width:100%;
	  padding-bottom:10px;
	  border-bottom:1px solid #6A7070;
	  border-radius:0;
		&:focus {
		  outline: 0;
	  }
	}
  svg {
	position: absolute;
	right: 10px;
	top:16px;
  }
}