<div class="d-icon-test-grid">
    {{#icon-list}}  
    <div class="d-icon-test-cell">
        {{> ui-kit-test-icon }}
        {{#label}}<p class="pe-label">{{label}}</p>{{/label}}
    </div>
    {{/icon-list}}
</div>