<ul class="d-icon-test-list">
    {{#icon-list}}  
    <li>
        {{> ui-kit-test-icon }}
        <br>
        {{#label}}<span class="pe-label">{{label}}</span><br>{{/label}}
    </li>
    {{/icon-list}}
</ul>