<div class="d-icon-test-grid">
    {{#icon-list}}  
    <div class="d-icon-test-cell">
        {{> ui-kit-test-icon }}
        <p class="pe-label">{{label}}</p>
        <p class="icons-instr">{{size}}<br>{{a11y}}</p>
    </div>
    {{/icon-list}}
</div>