{{#menu}}
	<ul role="menu" id="menu" aria-labelledby="menubutton" aria-activedescendant="menuitem1" class="menu hidden pe-label" tabindex="0">
		{{#menuList}}
			<li role="menuitemcheckbox" aria-checked="false" tabindex="-1">
					<span aria-hidden="true">{{> ui-kit-single-icon }}</span>
					{{label}}
			</li>
			<!-- {{#divider}}
				<li class="divider" role="separator"></li>
			{{/divider}} -->
		{{/menuList}}
	</ul>
{{/menu}}
