<!-- TODO use button component once approved -->
{{#dropdown}}
	<div class="dropdown">
		{{> ui-kit-drop-btn }}
		<div class="dropdown-menu" style="margin-top:-12px">
			{{>ui-kit-menu}}
		</div>
	</div>
{{/dropdown}}

