.course-dates {
  margin: 0;
  margin-bottom: 2em;
  margin-left: -15px;

  .row {
    margin: 0;
    align-items: flex-end;
  }

  .pe-form--group {
    margin-bottom: 20px;
  }

  .col-xs-5 {
    width: 41.66667%;
  }

  .col-xs-2 {
    width: 16.66667%;
  }

  .col-xs-offset-2 {
    margin-left: 16.66667%;
  }
  .schedule-row {
  	margin-bottom: 3em;
  }
  .start-end-times {
    display: flex;
    align-items: flex-end;

    .timepicker-container {
    .menu {
			top: 62px;
		}
    .timepicker {
      max-width: unset;

	      .pe-input--error_message {
    	  	position: absolute;
      		line-height: 18px;
      	}
      }
    }
  }

  .to-time {
    text-align: center;
    height: 36px;
    padding: 5px 0;
  }

  .add-row {
    padding-left: 15px;
    padding-right: 15px;

    .add-day {
      color: $secondary-four;
    }
  }
  .remove-daytime {
  	margin-bottom: 10px;
  }
  .pe-select-container {
    min-width: unset;
  }

  // input[aria-invalid="true"], textarea[aria-invalid="true"] {
//     border: 1px solid #f00;
//     box-shadow: 0 0 4px 0 #f00;
//   }
}
