language: node_js
node_js:
  - "9"
before_install:
  - rvm install 2.3.1
  - gem install sass
install:
  - npm install
before_script:
  - npm install -g gulp-cli
script:
  - gulp deploy
branches:
  only:
  - master
