<form class="pe-form">
	<h1 class="pe-form--name">{{name}}{{> ui-kit-coachmark }}</h1>
	<div>
		<div class="pe-form--group">
			{{> ui-kit-placeholder }}
		</div>
		<div class="pe-form--group">
			<div class="basic-input">
				<label class="pe-textLabelInput__label" for="{{id}}">{{label}}</label>
				<input type="text" class="pe-textInput--basic" id="{{id}}" placeholder="{{placeholder}}">
			</div>
		</div>
	</div>
</form>