{{#calendar}}
<div class="calendar">
	<div class="header">
		<span class="pe-title pe-title--small neutral-two">{{month}} {{year}}</span>
		<div class="button-group">
			{{#buttons}}
				{{> ui-kit-icon}}
			{{/buttons}}
		</div>
	</div>
	<div class="days-of-week">
		{{#days}}
			<span class="pe-label pe-label--small neutral-three">{{day}}</span>
		{{/days}}
	</div>
	{{#week}}
		<div class="weeks">
			{{#numbers}}
				<button type="button" class="pe-link--btn pe-label neutral-two" aria-label="{{month}} {{number}}">{{number}}</button>
			{{/numbers}}
		</div>
	{{/week}}
</div>
{{/calendar}}