{{#calendar}}
<div class="calendar">
	<div class="header">
		<span class="pe-title pe-title--small neutral-two month">{{month}}</span>
		<span class="pe-title pe-title--small neutral-two year">{{year}}</span>
		<div class="button-group">
			{{#buttons}}
				{{> ui-kit-icon}}
			{{/buttons}}
		</div>
	</div>
	<div class="days-of-week">
		{{#days}}
			<span class="pe-label pe-label--small neutral-three">{{day}}</span>
		{{/days}}
	</div>
	{{#week}}
		<div class="days">

		</div>
	{{/week}}
</div>
{{/calendar}}