{{#calendar}}
<div class="calendar">
	<div class="header">
		<span class="pe-title pe-title--small neutral-two">
			<span class="month"></span>
			<span class="year"></span>
		</span>
		<div class="button-group">
			{{#buttons}}
				{{> ui-kit-icon}}
			{{/buttons}}
		</div>
	</div>
	<div class="days-of-week">
	</div>
	<div class="days">
	</div>
</div>
{{/calendar}}