.calendar {
  max-width:320px;
  border:1px solid $neutral;
  padding:1em 20px 20px 20px;
  background-color: white;
  z-index: 1;
  
  .header {
	@include flex;
	padding:0 0.8em;
	height:40px;
	
	button {
	  &:first-child {
		margin-right:1em;
	  }
	}
	svg {
	  fill: $neutral-three;
	}
  }
  .days-of-week {
	@include flex; 
	margin-top:1em;
	
	span {
	  @include flex(center, center, row);
	  @include box-size (40px, 40px);
	  text-align: center;	  
	}
  }
  .weeks {
	@include flex;
	
	button {
	  @include box-size (40px, 40px);
	  text-decoration: none;
	  border-radius:50%;
	  
	  &:hover {
		background-color:$neutral-five
	  }
	  &.selected {
		background:$secondary-four;
		color: white;
	  }
	  &.muted {
		color:$neutral-four;
	  }
	  &:disabled {
		&:hover {
		  background:none;
		  cursor:default;
		}
	  }
	}
  }
}