{{#toggle}}
	<div class="toggle">
		<input type="checkbox" aria-label="toggle on or off" role="switch" name="{{id}}" id="{{id}}" aria-invalid="false">
		<label for="{{id}}" id="{{labelId}}">
			<span id="on" class="pe-toggle--on">On</span>
			<span id="off" class="pe-toggle--off">Off</span>
		</label>
	</div>
{{/toggle}}


