<button type="button" class="pe-btn--btn_small">Small</button>
<button type="button" class="pe-btn--btn_large">CTA Large</button>
<button type="button" class="pe-btn--btn_xlarge">Primary xLarge</button>