{{#dropdown}}
	<button id="menubutton" aria-controls="menu" aria-haspopup="true" aria-expanded="false" type="button" class="menubutton pe-btn pe-btn--btn_large">{{label}}
		<span aria-hidden=true>{{>ui-kit-single-icon}}</span>
	</button>
{{/dropdown}}
