{{>ui-kit-basic-modal}}
<section class="epub">
	<div style="max-width:1440px; margin:0 auto;">
		{{> ui-kit-header }}
	</div>
	<section class="chapter">

		{{#pageOne}}
			{{> epubs-ch08_pg0001 }}
		{{/pageOne}}

		{{#pageTwo}}
			{{> epubs-ch08_pg0002 }}
		{{/pageTwo}}

		{{#pageThree}}
			{{> epubs-ch08_pg0003 }}
		{{/pageThree}}

		{{#pageFour}}
			{{> epubs-ch08_pg0004 }}
		{{/pageFour}}

		{{#entryPoint}}
			{{> organisms-entry-point }}
		{{/entryPoint}}

	</section>
</section>