// Box Reset ///////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  @media(max-width:640px) {
    overflow-x:hidden;
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Background Color Helpers ////////////////////////////////////
////////////////////////////////////////////////////////////////
.black-bg {
  background-color: #000;
}

.white-bg {
  background-color: #fff;
}

.main-bg {
  background-color:$primary;
}

.main-two-bg {
  background-color: $primary-two;
}

.main-three-bg {
  background-color: $primary-three;
}

.main-four-bg {
  background-color: $primary-four;
}

.secondary-bg {
  background-color: $secondary;
}

.secondary-two-bg {
  background-color: $secondary-two;
}

.secondary-three-bg {
  background-color: $secondary-three;
}

.secondary-four-bg {
  background-color: $secondary-four;
}

.secondary-five-bg {
  background-color: $secondary-five;
}

.neutral-bg {
  background-color:$neutral;
}

.neutral-two-bg {
  background-color:$neutral-two;
}

.neutral-three-bg {
  background-color:$neutral-three;
}

.neutral-four-bg {
  background-color:$neutral-four;
}

.neutral-five-bg {
  background-color:$neutral-five;
}

.condition-one-bg {
  background-color: $condition-one;
}

.condition-two-bg {
  background-color:$condition-two;
}

.condition-three-bg {
  background-color:$condition-three;
}

// D3 Colors 10 Array //////////////////////////////////////////
////////////////////////////////////////////////////////////////

.d3-10-array00-bg {
	background-color:$d3-10-array00;
}

.d3-10-array01-bg {
	background-color:$d3-10-array01;
}

.d3-10-array02-bg {
	background-color: $condition-two;
}

.d3-10-array03-bg {
	background-color: $condition-one;
}

.d3-10-array04-bg {
	background-color: #9e007e;
}

.d3-10-array05-bg {
	background-color: #bb5e00;
}

.d3-10-array06-bg {
	background-color: $condition-three;
}
.d3-10-array07-bg {
	background-color: $neutral-three;
}
.d3-10-array08-bg {
	background-color: #a8af0b;
}
.d3-10-array09-bg {
	background-color: #19a5a3;
}

// D3 Colors 20 Array //////////////////////////////////////////
////////////////////////////////////////////////////////////////

.d3-20-array00-bg {
	background-color:$d3-20-array00;
}

.d3-20-array01-bg {
	background-color:$d3-20-array01;
}

.d3-20-array02-bg {
	background-color:$d3-20-array02;
}

.d3-20-array03-bg {
	background-color:$d3-20-array03;
}

.d3-20-array04-bg {
	background-color:$d3-20-array04;
}

.d3-20-array05-bg {
	background-color:$d3-20-array05;
}

.d3-20-array06-bg {
	background-color:$d3-20-array06;
}

.d3-20-array07-bg {
	background-color:$d3-20-array07;
}

.d3-20-array08-bg {
	background-color:$d3-20-array08;
}

.d3-20-array09-bg {
	background-color:$d3-20-array09;
}

.d3-20-array10-bg {
	background-color:$d3-20-array10;
}

.d3-20-array11-bg {
	background-color:$d3-20-array11;
}

.d3-20-array12-bg {
	background-color:$d3-20-array12;
}

.d3-20-array13-bg {
	background-color:$d3-20-array13;
}

.d3-20-array14-bg {
	background-color:$d3-20-array14;
}

.d3-20-array15-bg {
	background-color:$d3-20-array15;
}

.d3-20-array16-bg {
	background-color:$d3-20-array16;
}

.d3-20-array17-bg {
	background-color:$d3-20-array17;
}

.d3-20-array18-bg {
	background-color:$d3-20-array18;
}


.d3-20-array19-bg {
	background-color:$d3-20-array19;
}

// D3 Colors 20b Array //////////////////////////////////////////
////////////////////////////////////////////////////////////////

.d3-20b-array00-bg {
	background-color:$d3-20b-array00;
}

.d3-20b-array01-bg {
	background-color:$d3-20b-array01;
}

.d3-20b-array02-bg {
	background-color:$d3-20b-array02;
}

.d3-20b-array03-bg {
	background-color:$d3-20b-array03;
}

.d3-20b-array04-bg {
	background-color:$d3-20b-array04;
}

.d3-20b-array05-bg {
	background-color:$d3-20b-array05;
}

.d3-20b-array06-bg {
	background-color:$d3-20b-array06;
}

.d3-20b-array07-bg {
	background-color:$d3-20b-array07;
}

.d3-20b-array08-bg {
	background-color:$d3-20b-array08;
}

.d3-20b-array09-bg {
	background-color:$d3-20b-array09;
}

.d3-20b-array10-bg {
	background-color:$d3-20b-array10;
}

.d3-20b-array11-bg {
	background-color:$d3-20b-array11;
}

.d3-20b-array12-bg {
	background-color:$d3-20b-array12;
}

.d3-20b-array13-bg {
	background-color:$d3-20b-array13;
}

.d3-20b-array14-bg {
	background-color:$d3-20b-array14;
}

.d3-20b-array15-bg {
	background-color:$d3-20b-array15;
}

.d3-20b-array16-bg {
	background-color:$d3-20b-array16;
}

.d3-20b-array17-bg {
	background-color:$d3-20b-array17;
}

.d3-20b-array18-bg {
	background-color:$d3-20b-array18;
}


.d3-20b-array19-bg {
	background-color:$d3-20b-array19;
}

// D3 Colors 20c Array //////////////////////////////////////////
////////////////////////////////////////////////////////////////

.d3-20c-array00-bg {
	background-color:$d3-20c-array00;
}

.d3-20c-array01-bg {
	background-color:$d3-20c-array01;
}

.d3-20c-array02-bg {
	background-color:$d3-20c-array02;
}

.d3-20c-array03-bg {
	background-color:$d3-20c-array03;
}

.d3-20c-array04-bg {
	background-color:$d3-20c-array04;
}

.d3-20c-array05-bg {
	background-color:$d3-20c-array05;
}

.d3-20c-array06-bg {
	background-color:$d3-20c-array06;
}

.d3-20c-array07-bg {
	background-color:$d3-20c-array07;
}

.d3-20c-array08-bg {
	background-color:$d3-20c-array08;
}

.d3-20c-array09-bg {
	background-color:$d3-20c-array09;
}

.d3-20c-array10-bg {
	background-color:$d3-20c-array10;
}

.d3-20c-array11-bg {
	background-color:$d3-20c-array11;
}

.d3-20c-array12-bg {
	background-color:$d3-20c-array12;
}

.d3-20c-array13-bg {
	background-color:$d3-20c-array13;
}

.d3-20c-array14-bg {
	background-color:$d3-20c-array14;
}

.d3-20c-array15-bg {
	background-color:$d3-20c-array15;
}

.d3-20c-array16-bg {
	background-color:$d3-20c-array16;
}

.d3-20c-array17-bg {
	background-color:$d3-20c-array17;
}

.d3-20c-array18-bg {
	background-color:$d3-20c-array18;
}


.d3-20c-array19-bg {
	background-color:$d3-20c-array19;
}




// Font Color Helpers - Targets color and fill color for SVG ///
////////////////////////////////////////////////////////////////
.black {
  @include font-color(#000);
}

.white {
  @include font-color(#fff);
}

.primary {
  @include font-color($primary);
}

.main-two {
  @include font-color($primary-two);
}

.main-three{
  @include font-color($primary-three);
}

.main-four {
  @include font-color($primary-four);
}

.secondary {
  @include font-color($secondary);
}

.secondary-two {
  @include font-color($secondary-two);
}

.secondary-three {
  @include font-color($secondary-three);
}

.secondary-four {
  @include font-color($secondary-four);
}

.neutral {
  @include font-color($neutral);
}

.neutral-two {
  @include font-color($neutral-two);
}

.neutral-three {
  @include font-color($neutral-three);
}

.neutral-four {
  @include font-color($neutral-four);
}

.neutral-five {
  @include font-color($neutral-five);
}

.condition-one {
  @include font-color($condition-one);
}

.condition-two {
  @include font-color($condition-two);
}

.condition-three {
  @include font-color($condition-three);
}


.flex-container {
  @include flex;
  &.justify-flex-start {
    align-items: center;
    justify-content: flex-start;
  }
}

.hidden {
  display:none;
}

.center {
  text-align: center;
}

.circle-image {
  img {
    border-radius: 50%;
  }
}

.circle-image li {
  list-style: none;
  width: 50%;
  float: left;
}

img {
  max-width: 100%;
}

.margin-sides {
  margin:0 1em;
}
.margin-right {
  margin-right:1em;
}

.justify-end {
  justify-content: flex-end !important;
}

.pad-top-4 {
  padding-top:4em;
}

.pad-top-2 {
  padding-top:2em;
}

.badge {
  max-width:125px;
  margin-bottom:1em;
}

.stars {
  max-width:250px;
  margin-bottom:1em;
}

.no-margin {
  margin:0;
}

.light {
	font-weight: lighter;
}

