.pe-select-container {
  display: flex;

  svg {
    height: auto;
  }
}

.fancy-input {
  .pe-input_underline {
    background-color: #19a6a4;
  }
}

.fancy-select {
  .pe-input_underline {
    background-color: #19a6a4;
  }
}

.basic-input {
  .pe-textInput--basic {
    &:focus {
      border: 1px solid #19a6a4;
      box-shadow: 0px 0px 5px 0px #19a6a4;
    }
  }
}

.pe-checkbox {
  & input {
    &:checked ~ span {
      background: #19a6a4;
      border: 1px solid #19a6a4;
      color: white;
      display: flex;
    }

    &:checked:focus ~ span {
      border: 1px solid #000000;
    }

    &:disabled {
      &:checked ~ span {
        background-color: #e9e9e9;
        border: 1px solid #c7c7c7;
        color: #c7c7c7;
      }
    }
  }
}

.pe-radio {
  & input {
    &:checked ~ span {
      color: #19a6a4;
      border: 1px solid #c7c7c7;
    }

    &:disabled {
      &:checked ~ span {
        color: #C7C7C7;
      }
    }
  }
}

.textarea {
  .pe-multiLineText {
    &:focus {
      border: 1px solid #19a6a4;
      box-shadow: 0px 0px 5px 0px #19a6a4;
    }
  }

  .pe-multiLineText--error {
    &:focus {
      box-shadow: 0px 0px 4px 0px #DB0020;
      border: 1px solid #DB0020;
    }
  }
}

button {
  text-overflow: unset !important;
  overflow: initial !important;
}
