// Primary Colors
$primary: $pe-color-digital-pearson-blue;
$primary-two: $pe-color-ink-blue;
$primary-three: $pe-color-white;
$primary-four: $pe-color-white-gray;

$secondary: $pe-color-sunshine-yellow;
$secondary-two: $pe-color-sunflower-yellow;
$secondary-three: $pe-color-digital-ice-blue;
$secondary-four: $pe-color-digital-marine-turquoise;
$secondary-five: $pe-color-brackish-turquoise;

$neutral: $pe-color-concrete;
$neutral-two: $pe-color-charcoal;
$neutral-three: $pe-color-medium-gray;
$neutral-four: $pe-color-alto;
$neutral-five: $pe-color-moonlight;
 
$condition-one: $pe-color-strawberry-red;
$condition-two: $pe-color-digital-grass-green;
$condition-three: $pe-color-hot-pink;

$border: $neutral;
$error: $condition-one;
$success: $secondary-four;
