{{#toggle}}
<div class="toggle">
    <input type="checkbox" role="switch" name="{{id}}" id="{{id}}" aria-invalid="false" aria-labelledby="{{labelId}}" aria-checked="false">
    <label for="{{id}}" id="{{labelId}}">
        <span id="on" class="pe-toggle--on">On</span>
        <span id="off" class="pe-toggle--off">Off</span>
    </label>
</div>
{{/toggle}}


