{{#form}}
<form class="pe-form">
    {{#formHeader}}
        <h1 class="pe-form--name">{{name}}</h1>
        {{#formInstruction}}
            <p class="pe-form--instr">{{instruction}}</p>
        {{/formInstruction}}
        {{#formErrorMsg}}
            {{> ui-kit-alert}}
        {{/formErrorMsg}}
    {{/formHeader}}
    {{#formSection}}
        <h1 class="pe-form--section">{{name}}</h1>
        <hr/>
    {{/formSection}}
    <div>
    {{#formBlockInput}}
        <div class="pe-form--group">
            {{{input}}}
        </div>
    {{/formBlockInput}}
    {{#formInlineInput}}
        <div class="pe-form--group  pe-form--inline-group">
            {{#inline}}{{{input}}}{{/inline}}
        </div>
    {{/formInlineInput}}
    </div>
    <div class="pe-form--button-group">
    {{#button}}
    <button class={{class}}>{{label}}</button>
    {{/button}}
    </div>
</form>
{{/form}}