{{#form}}
	<form class="pe-form">
		<h1 class="pe-form--name">{{name}}</h1>
		<p class="pe-form--instr">{{instruction}}</p>
		{{> ui-kit-alert}}
		<div class="pe-form--group">
			{{#inputBlock}}
				 {{> ui-kit-placeholder }}
			{{/inputBlock}}
		</div>
		<div class="pe-form--group  pe-form--inline-group">
			{{#inputInline}}
				{{> ui-kit-datepicker }}
			{{/inputInline}}
		</div>
		<div class="pe-form--button-group">
			<button class="pe-btn pe-btn--btn_large">{{defaultBtnLabel}}</button>
			<button class="pe-btn__primary--btn_large">{{primaryBtnLabel}}</button>
		</div>
	</form>
{{/form}}