/* Variables for the forms styles */

$form-font-size: 20px !default;
$form-line-height: 26px !default;


%frm-fonts {
    font-size: $form-font-size;
    line-height: $form-line-height;
  }
  
  .pe-form {
  
    .pe-form--name {
      @extend %frm-fonts;
      margin-bottom: 29px;
    }
  
    .pe-form--section {
      @extend %frm-fonts;
      margin-bottom: 13px;
    }
  
    .pe-form--instr {
      margin-top: -12px;
      margin-bottom: 20px;
    }
  
    .pe-form--group {
      margin-bottom: 34px;
      &:first-child{
        margin-top: 22px;
      }
      &:last-child{
        margin-bottom: 50px;
      }
    }
  
    .pe-form--button-group{
      display: flex;
      flex-direction: row-reverse;
      button{ 
        &:last-child{
          margin-right: 20px;
          @media screen and (min-width: 768px) {
            margin-right: 40px;
        }
          @media screen and (max-width: 480px) {
            margin-right: 10px;
        }
      }
      }
    }
  
    .pe-form--inline-group{
      display: flex;
      > div {
        width: 100%;
        &:first-child{
          margin-right: 20px;
          @media screen and (min-width: 768px) {
            margin-right: 40px;
        }
          @media screen and (max-width: 480px) {
            margin-right: 10px;
        }
      }
    }
    }  
  
  hr {
    border: 0;
    border-top: 1px solid $neutral;
    margin-bottom: 34px;
  }

  .datepicker {
    max-width:100%;
  }

  }
