{{#table}}
	<table class="pe-proto small">
		<thead>
		<tr>
			{{#th}}
				<th>{{label}}</th>
			{{/th}}
		</tr>
		</thead>
		<tbody>
		{{#tr}}
			<tr>
				{{#td}}
					<td>{{label}}</td>
				{{/td}}
			</tr>
		{{/tr}}
		</tbody>
	</table>
{{/table}}