table {
  &.pe-proto {
	thead {
      background-color:$neutral-four;
	  border:1px solid $border;
    }
	
	tr {
	  border-bottom:1px solid $border;
	  &:nth-child(even) {
		background-color:$primary-four;
	  }
	}
	
	th {
	  padding:em(12) em(20);
	  border-right:1px solid $border;
	  &.sortable {
		svg {
		  transform: rotate(90deg)
		}
	  }
	}
	
	td {
	  padding:em(14) em(20);
	  vertical-align: middle;
	}

	&.small {
	  th, td {
		padding:5px 20px;
	  }
	}
  }
  
  thead {
	border-top: 1px solid $neutral-four;
	border-bottom: 1px solid $neutral-four;
	
	th {
	  padding: 1em 20px;
	}
  }
  tbody {
	td{
	  padding:1em 20px;
	}
	border-bottom: 1px solid $neutral-four;
	&[data-match ="true"] {
	  .no-match {
		display:none;
	  }
	}
  }
  
  &.hoverable {
	tbody tr {
	  &:hover {
		background-color:$neutral-five;
		cursor: pointer;
	  }
	}
  }
  &.sortable {
	th {
	  &:hover {
		background-color:$neutral-five;
		cursor: pointer;
	  }
	  .up {
		display:none;
	  }
	  &.selected {
		.up {
		  display:inline;
		}
		.down {
		  display:none;
		}
	  }
	}
  }
  &.selectable {
	@extend .hoverable;
	.selected {
	  background-color: $secondary-three;
	  outline: 1px solid $secondary-four;
	  &:hover {
		outline: 1px solid $primary;
	  }
	}
  }
}

.table-with-controls {
  .controls {
	margin-bottom:28px;
	display:flex;
	justify-content: flex-end;
	
	.control {
	  &:first-child {
		margin-right:1em;
	  }
	}
  }
}


