<p class="pe-label icon-instr">Icons from Global Logic, sized to 18px and 24px.</p>
<div class="icons-grid">
    {{#iconList}}
    <div class="icon-cell">
        {{> ui-kit-single-icon }}
        <p class="pe-label">{{size}}</p>
    </div>
    {{/iconList}}
</div>

