{{#noActionModal}}
<button class="pe-btn pe-btn--btn_large" data-modal-id="{{modalId}}">Open Modal without Actions</button>
<div class="overlay hidden"></div>
<div class="modal hidden" aria-labelledby="modalTitle" data-modal-open="{{modalId}}" aria-hidden="true" role="dialog">
    <div class="close">
        {{> ui-kit-icon }}
    </div>
    <h2 class="pe-title pe-title--large" id="modalTitle">{{title}}</h2>
    <div class="content">
        {{#paragraphs}}
        <p id="modalText">{{text}}</p>
        {{/paragraphs}}
    </div>
</div>
{{/noActionModal}}