{{#scrollModal}}
	<button class="pe-btn pe-btn--btn_large" data-modal-id="{{modalId}}">Open Scroll Modal</button>
	<div class="overlay hidden"></div>
	<div  class="modal scroll hidden" aria-labelledby="modalTitle" data-modal-open="{{modalId}}" aria-hidden="true" role="dialog">
		<div class="title">
			<div class="close">
				{{> ui-kit-icon }}
			</div>
			<h2 class="pe-title pe-title--large" id="modalTitle">{{title}}</h2>
		</div>
		<div class="content">
			{{#paragraphs}}
				<p>{{text}}</p>
			{{/paragraphs}}
		</div>
		{{#showButtons}}
			<div class="actions">
				<button class="pe-btn pe-btn--btn_large">Dismissive Action</button>
				<button class="pe-btn__primary--btn_large">Affirmative Action</button>
			</div>
		{{/showButtons}}
	</div>
{{/scrollModal}}