{{#stepper}}
	<div class="stepper">
		<div class="controls">
			{{#uiControls}}
				{{> ui-kit-icon }}
			{{/uiControls}}
		</div>
		<div class="enterNumber">
			{{> ui-kit-number }}
		</div>
		<div class="of-total">
			<span class="slash">/</span>
			<span class="number">{{number}}</span>
		</div>
	</div>
{{/stepper}}
