{{#zoom}}
<div class="zoom">
    <div class="controls">
        {{#uiControls}} {{> ui-kit-icon }} {{/uiControls}}
    </div>
    <div class="enterNumber">
        {{> ui-kit-number }}
    </div>
</div>
{{/zoom}}
