{{#alertSuccess}}
<div class="pe-proto alert-box success" role="alert">
	{{#button}}<div class="close-title">{{> ui-kit-icon }}</div>{{/button}}
    <div class="alert-content-container">
        {{> ui-kit-single-icon }}
        <div class="alert-content">
        	<h2 class="pe-label alert-title"><strong>{{title}}</strong></h2>
        	<p class="pe-paragraph alert-text">{{content}}</p>
        </div>
    </div>
</div>
{{/alertSuccess}}